 <div id = "title">
        Профил
        </div>
        
        <div class = "modal">
        
          <a href = "http://localhost:4200/company-job-posts-page-component">
            <input type="submit" id="button" value="ОБЯВИ">
          </a>
            
          <a href = " ">
            <input type="submit" id="button" value="ДАННИ ЗА ПРОФИЛА">
          </a>
            
          <a href = "http://localhost:4200/change-password-page">
            <input type="submit" id="button" value="СМЯНА НА ПАРОЛАТА">
          </a>
            
        
        </div>
