<div class="jb-details-container">
    <div class="jb-details">
        <div class="jb-details-company-info">
            <h1 class="jb-details-company-info--heading jb-job-descr-heading">Java developer for Circular Cloud Application</h1>
            <div class="jb-details-company-info--description jb-job-descr-details">
                <p class="jb-job-descr-tags jb-job-descr-details--item">София; ИТ</p>
                <p class="js-job-descr-date jb-job-descr-details--item">
                    <i class="fas fa-calendar-alt"></i>25.дек
                </p>
            </div>
        </div>
        <span class="jb-details-separator"></span>
        <div class="jb-details-description-container">
            <p class="jb-details-desctiption">
                Lorem ipsum dolor sit amet
                , consectetur adipiscing elit. Mauris sollicitudin ipsum vitae ultrices faucibus. Integer pharetra mattis ipsum, ut viverra libero maximus et. Ut fermentum porta erat quis blandit. Nulla facilisi. Integer vestibulum blandit orci, a finibus dolor lobortis sed. Quisque viverra fac

                ilisis ipsum quis maximus. In c
                ondimentum nisi at mauris fermentum, id rhoncus mi tincidunt. Praesent gravida elit non magna feugiat, eu dignissim lectus porta. Donec fringilla ultrices dui, in feugiat ante cursus non. Nulla vestibulum lacus vitae nisl ultrices facilisis. Duis porttitor eros a nibh scelerisque, ut auctor nisl vestibulum.
                            
                Quisque iaculis, mauris sed pellentesque tincidunt, nunc lectus eleifend massa, sed pellentesque erat ligula a nibh. Mauris porttitor enim sed lectus porttitor egestas. Nullam tristique velit vitae velit scelerisque gravida. Sed tincidunt vestibulum viverra. Pellentesque semper lectus sit amet dolor scelerisque 
            </p>
        </div>
    </div>
</div>