<div class="jb-list-item-container">
    <div class="jb-list-item active">
        <div class="jb-company active">
            <div class="jb-company-logo-container">
                <img class="jb-company-logo" src="" alt="">
            </div>
            <div class = "jb-company-label-container">
                <p class = "jb-company-label">Musala Soft EOOD</p>
            </div>
        </div>
        <div class="jb-job-descr-container">
            <div class="jb-job-descr">
                <h2 class="jb-job-descr-heading">Java Developer for Circular cloud application yashaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>
                <div class="jb-job-descr-details">
                    <p class="jb-job-descr-tags jb-job-descr-details--item">София; ИТ</p>
                    <p class="js-job-descr-date jb-job-descr-details--item">
                        <i class="fas fa-calendar-alt"></i>25.дек
                    </p>
                </div>
            </div>
            <div class="jb-chevron-right active">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="jb-list-item-container">
    <div class="jb-list-item">
        <div class="jb-company">
            <div class="jb-company-logo-container">
                <img class="jb-company-logo" src="" alt="">
            </div>
            <div class = "jb-company-label-container">
                <p class = "jb-company-label">Apple Inc</p>
            </div>
        </div>
        <div class="jb-job-descr-container">
            <div class="jb-job-descr">
                <h2 class="jb-job-descr-heading">Java Developer for Circular cloud application</h2>
                <div class="jb-job-descr-details">
                    <p class="jb-job-descr-tags jb-job-descr-details--item">София; ИТ</p>
                    <p class="js-job-descr-date jb-job-descr-details--item">
                        <i class="fas fa-calendar-alt"></i>25.дек
                    </p>
                </div>
            </div>
            <div class="jb-chevron-right">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>
